<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Movie App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Movie App</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let movie of MovieData">
    <ion-item-group>
    <img src="{{movie.Poster}}">
      <ion-lable> 
        {{movie.Title}}
      </ion-lable>
      <ion-lable>
      {{movie.Year}}
    </ion-lable>
  </ion-item-group>
    </ion-item>
  </ion-list>

  <ion-card *ngFor="let movie of MovieData">
    <img src="{{movie.Poster}}">
    <ion-card-header>
      <ion-card-subtitle>{{movie.Year}}</ion-card-subtitle>
      <ion-card-title>{{movie.Title}}</ion-card-title>
    </ion-card-header>
  
  </ion-card>

</ion-content>
